.Filters{
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.Select{
  position: relative;
  border: 2px solid #8b8b8b;
  border-radius: 15px;
  padding: 0.7%;
}

.SpecialSelect{
  width: 10rem;
}

.SpecialSelect__SelectBox{
  display: grid;
  grid-template-columns: 8fr 2fr 2fr;
  align-items: center;
  font-size: 1.2rem;
  color: #8b8b8b;
  width: fit-content;
}

.Select__SelectBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: #8b8b8b;
  width: fit-content;
}

.SelectBox__Cross {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.SelectBox__Arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Dropdown{
  position: absolute;
  top: 115%;
  left: 0;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 100;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.Dropdown__DropDownData{
  padding: 7%;
  cursor: pointer;
}

.Dropdown__DropDownData:hover{
  background-color: rgb(160, 210, 255);
}

.Filters__SearchFilter{
  border: 2px solid #8b8b8b;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 0.7%;
}

.Dropdown__RolesTitle{
  font-weight: 600;
  color: #8b8b8b;
  padding: 7%;
}

.Dropdown__Roles{
  cursor: pointer;
  padding: 7%;
  width: 80%;
}

.Dropdown__Roles:hover{
  background-color: rgb(160, 210, 255);
}

.Title__MultiSelect{
  display: flex;
  gap: 0.7rem;
}

.MultiSelect__Pill{
  padding: 3px;
  background-color: #cdcdcd;
  color: black;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  align-items: center;
}