body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

#root{
    width: 85vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.SearchJobsSection{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.SearchJobsSection__JobsListing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width:1000px) {
    .SearchJobsSection__JobsListing{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width:700px) {
    .SearchJobsSection__JobsListing{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.SearchJobsSection__NoJobsFound{
    display: flex;
    justify-content: center;
}